.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 87vh;
    background-color: #f7f9fc;
}

.login-form {
    width: 30vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

.login-form input:focus {
    border-color: #007bff;
    outline: none;
}

.informer {
    margin-bottom: 16px;
}

.submit-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.submit-button button {
    background-color: #007bff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button button:hover {
    background-color: #0056b3;
}
