/* Общие стили для страницы входа */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Заполняет всю высоту экрана */
    background-color: #f7f9fc; /* Светлый фон */
}

.login-form {
    width: 30vw; /* Ширина формы */
    background-color: white; /* Фон формы */
    border-radius: 10px; /* Закруглённые углы */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Тень для формы */
    padding: 20px; /* Отступы вокруг содержимого */
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    color: #333; /* Цвет текста */
    font-weight: bold; /* Жирный шрифт */
}

.login-form input {
    width: 100%; /* Занимает всю ширину */
    padding: 12px; /* Внутренние отступы */
    border-radius: 8px; /* Закруглённые углы */
    border: 1px solid #ccc; /* Светлая рамка */
    transition: border-color 0.3s; /* Плавный переход цвета рамки */
}

.login-form input:focus {
    border-color: #007bff; /* Цвет рамки при фокусе */
    outline: none; /* Убирает оригинальное выделение */
}

.informer {
    margin-bottom: 16px; /* Отступ снизу для ошибочных сообщений */
}

.submit-button {
    display: flex;
    justify-content: flex-end; /* Выравнивание по правому краю */
    margin-top: 16px; /* Отступ сверху */
}

.submit-button button {
    background-color: #007bff; /* Цвет фона кнопки */
    border: none; /* Убираем стандартное оформление */
    padding: 12px 20px; /* Внутренние отступы */
    border-radius: 5px; /* Закруглённые углы */
    color: white; /* Цвет текста */
    cursor: pointer; /* Указатель на курсор */
    transition: background-color 0.3s; /* Плавный переход цвета фона кнопки */
}

.submit-button button:hover {
    background-color: #0056b3; /* Цвет фона кнопки при наведении */
}
