.page-container {
    display: flex;
    flex-direction: column;
}

.main-layout {
  display: flex;
  flex-direction: row;
}

.divider {
    margin: 8px 0;
    border: 1px solid #4a90e2;
}

.button-group {
    display: flex;
    gap: 5px;
}

.button-margin {
    margin-right: 5px;
}

.button-margin:last-child {
    margin-right: 0;
}

.nav-button {
    background-color: white;
    color: #5a98de;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
}

.nav-button.active {
  background-color: #007bff;
  color: white;
}

.profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer {
  padding: 10px;
  border-top: 2px solid #4a90e2;
}

.footer-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  margin-left: 20px;
}
